.task {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.actions {
  display: flex;
  gap: 1rem;
}

.container {
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: #4248ca;
}
